<section class="about_section layout_padding">
    <div class="container">
      <div class="custom_heading-container ">
        <h2>
          About Us
        </h2>
      </div>

      <div class="img-box">
        <img src="/src/assets/images/about-medicine.png" alt="">
      </div>
      <div class="detail-box">
        <p>
            The spiritual health care is  Medicare website. It's a health group which is based on the old Indian health ecosystem.  
            Here you can buy any medicine, medical equipment,baby care products, etc.
        </p>
        <div class="d-flex justify-content-center">
          <a href="">
            Read More
          </a>
        </div>
      </div>
    </div>
  </section>